<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${group.name}"></title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css" />
</head>
<body>
    <div class="container my-1 d-flex justify-content-center">
        <div class="row">
            <div class="embed-responsive">
                <h2 class="my-5">Grupa</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Nazwa pola</th>
                        <th>Wartość</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Nazwa grupy</td>
                        <td th:text="${group.name}"></td>
                    </tr>
                    <tr>
                        <td>Użytkownicy</td>
                        <td>
                            <p th:if="${group.users.isEmpty()}">Brak</p>
                            <ul th:unless="${group.users.isEmpty()}" class="list-group list-group-flush">
                                <li class="list-group-item" th:each="user : ${group.users}" th:text="${user.username}"></li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.min.js"></script>
</body>
</html>